<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GammaCorrectionSampleFile" value=""/>
    <add key="SourcePath" value=""/>
    <add key="OutputPath" value=""/>
    <add key="SequenceFolderPath" value=""/>
    <add key="SP1x" value=""/>
    <add key="SP1y" value=""/>
    <add key="SP2x" value=""/>
    <add key="SP2y" value=""/>
    <add key="SP3x" value=""/>
    <add key="SP3y" value=""/>
    <add key="SP4x" value=""/>
    <add key="SP4y" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
