<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GammaCorrectionSampleFile" value=""/>
    <add key="SourcePath" value=""/>
    <add key="OutputPath" value=""/>
    <add key="SequenceFolderPath" value=""/>
    <add key="ManualImgRegistration2DShiftSP1x" value=""/>
    <add key="ManualImgRegistration2DShiftSP1y" value=""/>
    <add key="ManualImgRegistration2DShiftSP2x" value=""/>
    <add key="ManualImgRegistration2DShiftSP2y" value=""/>
    <add key="GammaCorrectionSettings" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
